[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
PySide2 = "*"
wheel = "*"
cx-freeze = "*"
qtmodern = {editable = true,version = "*"}
qt-py = "*"
setuptools = "*"
pyinstaller = "*"
