[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[packages]
PySide6 = "*"
wheel = "*"
setuptools = "*"
pyinstaller = ">=3.6"
qtpy = "*"
qtmodernredux6 = "*"

[dev-packages]
